<form class="card" [formGroup]="form" (ngSubmit)="create()">
    <div class="card-content">
        <span class="card-title">Add new executor</span>
              
        <div class="input-field">
            <input formControlName="thirstName" id="thirstName" type="text" [ngClass]="{'invalid': form.get('thirstName').invalid && form.get('thirstName').touched}">
            <label for="thirstName">Thirst name</label> 
            <span class="helper-text red-text" *ngIf="form.get('thirstName').invalid && form.get('thirstName').touched">
                <span *ngIf="form.get('thirstName').errors['required']">Thirst name must not be empty</span>
            </span>
        </div> 

        <div class="input-field">
            <input formControlName="secondName" id="secondName" type="text" [ngClass]="{'invalid': form.get('secondName').invalid && form.get('secondName').touched}">
            <label for="secondName">Second name</label> 
            <span class="helper-text red-text" *ngIf="form.get('secondName').invalid && form.get('secondName').touched">
                <span *ngIf="form.get('secondName').errors['required']">Second name must not be empty</span>
            </span>
        </div> 

        <div class="input-field">
            <input formControlName="thirdName" id="thirdName" type="text" [ngClass]="{'invalid': form.get('thirdName').invalid && form.get('thirdName').touched}">
            <label for="thirdName">Third name</label> 
            <span class="helper-text red-text" *ngIf="form.get('thirdName').invalid && form.get('thirdName').touched">
                <span *ngIf="form.get('thirdName').errors['required']">Third name must not be empty</span>
            </span>
        </div> 

        <div class="input-field">
            <input formControlName="position" id="position" type="text" [ngClass]="{'invalid': form.get('position').invalid && form.get('position').touched}">
            <label for="position">Position</label> 
            <span class="helper-text red-text" *ngIf="form.get('position').invalid && form.get('position').touched">
                <span *ngIf="form.get('position').errors['required']">Position must not be empty</span>
            </span>
        </div>

        <div class="input-field">
            <input formControlName="login" id="login" type="text" [ngClass]="{'invalid': form.get('login').invalid && form.get('login').touched}">
            <label for="login">Login</label> 
            <span class="helper-text red-text" *ngIf="form.get('login').invalid && form.get('login').touched">
                <span *ngIf="form.get('login').errors['required']">Login must not be empty</span>
            </span>
        </div>

        <div class="input-field">
            <input formControlName="password" id="password" type="text" [ngClass]="{'invalid': form.get('password').invalid && form.get('password').touched}">
            <label for="password">Password</label> 
            <span class="helper-text red-text" *ngIf="form.get('password').invalid && form.get('password').touched">
                <span *ngIf="form.get('password').errors['required']">Password must not be empty</span>
            </span>
        </div>
    </div>
</form>
<div class="card-action" style=" text-align: right;">
    <button (click)="create()" type="submit" class="modal-action btn waves-effect" [disabled]="form.invalid || form.disabled"  style="display: inline-block;">Create</button>
    <button (click)="cancel()" class="modal-action btn waves-effect" [disabled]="false" style="display: inline-block;margin-left: 1em;">Cancel</button>
</div>