<div class="page-title">
    <h4>Protocols' list</h4>
    <div style=" text-align: right;">
        <button class="btn btn-small grey darken-1" style="display: inline-block;" (click)="add()">Add</button>
    </div>
</div>

<div class="row" *ngIf="protocols$ | async as protocols; else loader;">
    <table mat-table [dataSource]="protocols" class="mat-elevation-z2" *ngIf="protocols.length !== 0; else empty">

        <ng-container matColumnDef="Id">
            <th mat-header-cell *matHeaderCellDef style="font-size: 17px;">Id</th>
            <td mat-cell *matCellDef="let protocol">{{ protocol.id }}</td>
        </ng-container>
        <ng-container matColumnDef="Name">
            <th mat-header-cell *matHeaderCellDef style="font-size: 17px;">Name</th>
            <td mat-cell *matCellDef="let protocol" width=200px>{{ protocol.name }}</td>
        </ng-container>
        <ng-container matColumnDef="Head">
            <th mat-header-cell *matHeaderCellDef style="font-size: 17px;">Head</th>
            <td mat-cell *matCellDef="let protocol" width=200px>{{ protocol.head }}</td>
        </ng-container>
        <ng-container matColumnDef="Date">
            <th mat-header-cell *matHeaderCellDef style="font-size: 17px;">Date</th>
            <td mat-cell *matCellDef="let protocol" width=200px>{{ protocol.date }}</td>
        </ng-container>
        <ng-container matColumnDef="AmountAssig">
            <th mat-header-cell *matHeaderCellDef style="font-size: 17px;">Assignments' amount</th>
            <td mat-cell *matCellDef="let protocol">{{ protocol.amountAssig }}</td>
        </ng-container>
        <ng-container matColumnDef="Open">
            <th mat-header-cell *matHeaderCellDef style="font-size: 17px;">Open</th>
            <td mat-cell *matCellDef="let protocol">
                <button mat-fab color="open" aria-label="Open" (click)="open(protocol.id)">
                    <mat-icon svgIcon="open" aria-hidden="false" aria-label="Open"></mat-icon>
                </button>
            </td>
        </ng-container>
        <ng-container matColumnDef="Edit">
            <th mat-header-cell *matHeaderCellDef style="font-size: 17px;">Edit</th>
            <td mat-cell *matCellDef="let protocol">
                <button mat-fab color="edit" aria-label="Edit" (click)="edit(protocol.id)">
                    <mat-icon svgIcon="edit" aria-hidden="false" aria-label="Edit"></mat-icon>
                </button>
            </td>
        </ng-container>
        <ng-container matColumnDef="Delete">
            <th mat-header-cell *matHeaderCellDef style="font-size: 17px;">Delete</th>
            <td mat-cell *matCellDef="let protocol">
                <button mat-fab color="delete" aria-label="Delete" (click)="delete(protocol.id)">
                    <mat-icon svgIcon="delete" aria-hidden="false" aria-label="Delete"></mat-icon>
                </button>
            </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let protocol; columns: displayedColumns"></tr> 
    
    </table>
</div>

<ng-template #empty>
    <div class="center">Protocols' list is empty</div>
</ng-template>
<ng-template #loader>
    <app-loader></app-loader>
</ng-template>

<router-outlet></router-outlet>