.head{
    margin-top: -64px;
    width: 100%;
    height: 60px;
    position: fixed;
    background: #fff;
    z-index: 1000;
}
.content {
    margin-top: 60px;
}
.mat-icon {
    background-repeat: no-repeat;
    display: inline-block;
    fill: currentColor;
    height: 40px;
    width: 40px;
    margin-top: 10px;
}

.log-div {
    display: inline-block;
    position: absolute;
    margin-top: 3px;
    margin-left: 10px;
    width: 500px;
}